src/main/mule/muleapisps.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<db:config name="Database_Config" doc:name="Database Config" doc:id="214c9cb7-106e-4f33-84c2-78b346020024" >
		<db:my-sql-connection host="${database.host}" port="${database.port}" user="${database.user}" password="${database.password}" database="${database.name}" />
	</db:config>
	<flow name="muleapispsFlow" doc:id="55db38d1-20ec-4646-a325-9611682f0758" >
		<http:listener doc:name="Listener" doc:id="00c92fc4-9ee5-4201-8b63-5ebe79a94232" config-ref="HTTP_Listener_config" path="/api/v1/sps/customers"/>
		<db:select doc:name="Select" doc:id="c7861a7f-e3a5-4bc6-b055-0a571f421495" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5ca58654-3c72-4e87-b422-f6c900ef6f64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4f294e14-87c3-4aab-a239-42a5f3479afc" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::example.username")&#10;++ " - " ++ "Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
